footer.footer.bg-black.text-light.py-3
    .container
        .row
            .col-12.text-center
                small Desarrollado por:
                    a(href="/" style="text-decoration:none;").text-white.mx-2
                        | Jose Miguel Rosas Jimenez


